[2022-03-01 10:35] ericallam opened #1 "Generate Typescript code for the inferred JSON Schema"

[2022-03-01 11:21] ericallam opened #2 "Integrate with JSON Schema store"
https://twitter.com/relequestual/status/1498614383131381760?s=20&t=uPXIOAJvZYgO8CYIU53fSQ

We should infer when objects are meant to be a specific schema, and instead of using our own inferred schema, use the schema from the schema store.

[2022-03-02 09:44] ericallam opened #3 "Add OpenGraph meta tags to improve sharing jsonhero.io links"
### Homepage:

https://www.opengraph.xyz/url/https%3A%2F%2Fjsonhero.io/

### Document page:

https://www.opengraph.xyz/url/https%3A%2F%2Fjsonhero.io%2Fj%2FKD5KVstvTPfk/

[2022-03-03 10:33] ericallam opened #4 "Infer git urls"
e.g. `git@github.com:octocat/hello-worId.git`

[2022-03-25 08:44] ericallam opened #7 "Convert the Column View to be an aria grid"
https://www.w3.org/TR/wai-aria-practices-1.2/#grid

[2022-03-28 09:46] ericallam opened #8 "Add ability to fork a json document"

[2022-03-30 08:39] ericallam opened #9 "Add etag support"
https://github.com/donavon/remix-etag

[2022-04-04 15:35] ericallam opened #10 "Replace peekalink with OpenGraph Ninja API"
https://opengraph.ninja/pricing

[2022-04-15 17:55] leomp12 opened #13 "Support passing endpoint as URL param"
To share JSON Hero with dynamic endpoint (e.g. IDs on an REST API documentation) would be necessary to pass endpoint through URL with something like `https://jsonhero.io/new?url=https://someapi.io/v1/id`, right?
It's already possible? If not, wdyt about this feature?

[2022-04-15 21:14] ericallam commented on #13
Hey @leomp12, great suggestion! I just added that feature so the above example should work 👍

[2022-04-15 21:14] #13 closed

[2022-04-15 21:24] leomp12 commented on #13
Wow, awesome! Thanks 😃

[2022-04-16 07:02] ericallam opened #14 "Add support for pasting in JSON to create a new document"

[2022-04-20 07:44] ericallam opened #15 "Chore: upgrade to latest remix"

[2022-04-21 13:26] ericallam opened #16 "Feature request: Be able to see the full path of undefined related values"
<img width="502" alt="Screen Shot 2022-04-21 at 14 25 51" src="https://user-images.githubusercontent.com/534/164467852-5103cc99-a3ae-4117-b59b-3bb2070649dd.png">

[2022-04-23 08:38] targerian1999 opened #18 "Page becomes unresponsive when the json is large"
I have tried to use it with the json placholder api photos endpoint (https://jsonplaceholder.typicode.com/photos) but the page becomes unresponsive and return errors like this : https://jsonhero.io/j/KtjQydI5I4A3

[2022-04-24 17:01] ericallam commented on #18
This is a known issue, caused by the column view not using virtualization so all cells, even the ones not visible, are rendered. With excessively long lists this takes longer than the 30s Cloudflare Worker timeout.

We'll need to reimplements the column view using something like react-virtual to fix this.

[2022-04-25 10:11] ericallam opened #19 "Add noindex tag to document pages"
https://developers.google.com/search/docs/advanced/crawling/block-indexing

[2022-04-25 10:25] ericallam opened #20 "Integrate with Insomnia"
https://docs.insomnia.rest/insomnia/introduction-to-plugins

[2022-04-25 14:40] ericallam opened #21 "Implement a nice 404 page"
@D-K-P

[2022-04-25 15:26] kkange opened #22 "json data security"
HI @ericallam
It seems that json data is being stored on the server.

Can I use it without saving it on the server?

[2022-04-25 21:18] ericallam commented on #22
Hi @kkange, it is true that the data is stored on the server. We use Cloudflare Workers as the host and Workers KV as the storage for either the raw JSON contents or the URL you submit. There is currently no way to use it without storing data on the server (at the moment). If you want to use it currently with sensitive data, the best way would be to run it yourself. I need to flesh out the docs fo

[2022-04-27 08:29] sascha10000 opened #23 "Add a button to copy the path of a json field"
At the top there is the breadcrumb shown anyways so adding a copy functionality sounds quite easy. I started to use JSON Hero at the start of this week and it is an awesome tool for huge JSON files with a lot of structure while developing. Second time I really need to get a path fairly deep nested and type it by hand.

e.g.: {
 "someField": "a",
 "someObj"": {
  "someArray": [7,8,9]
  }
 }

When I

[2022-04-27 08:44] nahum-litvin-hs opened #24 "vscode plugin?"
HI! really love the jsonhero seems awesome. but what I really dream of is having it inside VScode.
is this possible?

[2022-04-27 08:55] sascha10000 commented on #24
One way to implement that would be using https://code.visualstudio.com/api/extension-guides/webview . I would like to have that too tbh, but it seems like it would be worth to try out yourself. As an add-on you learn how to build plugins for vscode and could contribute a whole new repo.

[2022-04-27 08:57] ericallam commented on #24
I would also love to have it in VSCode, but haven't got around to it yet. We do have an "official" extension that just adds commands to open JSON in VSCode here:

https://github.com/jsonhero-io/vscode-extension

And the listing in the marketplace here:

https://marketplace.visualstudio.com/items?itemName=JSONHero.jsonhero-vscode

I was planning on adding the actual webview at some point in the fut

[2022-04-27 10:35] scottdotjs opened #25 "Crashes a few seconds after loading in browser"
How to replicate:
- Clone repo and `npm install`
- `npm start`
- Browse to `http://localhost:8787`
- Wait for about 5 seconds

This error appears in the browser:
[code]

In the console:

[code]

(Why is it trying to load a page on theonion.com?)

My environment:
macOS 12.3.1, MacBook Air (M1, 2020)
Node v16.13.2
Firefox 100.0b9

[2022-04-27 10:36] matt-aitken opened #26 "Previews for base64 strings with them decoded"
Detect base64 strings and show a decoded preview in the right-hand panel

[2022-04-27 19:33] ericallam opened #28 "Bug: Previewing an image URL that has no extension, and does not allow HEAD requests, results in a missing preview"
For example, this URL does not currently have a preview:

`https://picsum.photos/64/64?random`:

![Broken Preview](https://picsum.photos/64/64?random)

The `getUriPreview` function tries to do a HEAD request on this URL to determine if it's content is an image, but that results in a 405 Method Not Allowed response.

If you do request this URL with a GET request you get a `302 Found` response with

[2022-04-27 19:34] ericallam opened #29 "Feature request: Create document from a base64 encoded query param"

[2022-04-27 20:04] ericallam commented on #25
Just fixed this issue in #a40eeaae678a 👍

[2022-04-27 20:04] #25 closed

[2022-04-28 01:28] chanphiromsok opened #30 "make request json with authorization"
we want to parse api url JSON with authorization ( Bearer , Basic.,..etc)

[2022-04-28 08:26] ericallam opened #31 "Feature Request: Add optional TTL when creating documents"

[2022-04-28 10:08] ericallam opened #32 "Feature Request: Expose URL used to create the JSON document"

[2022-04-28 15:27] corbanb opened #33 "Feature Request: Browser Extension"
This would be insane if it was a browser extension. <3

LOVE THE WORK!!!

[2022-04-29 11:39] SonalikaG opened #34 "Edit option in JsonHero"
I have installed the extension 'jsonhero.io tools for VS Code'. It opens the .json file in the browser but it does not have an edit option. Could you please let me know where do I get the edit option when the file opens in the browser. Thanks.

[2022-04-29 11:50] ericallam commented on #34
Hi @SonalikaG, we don't currently support editing while in the browser, but it's definitely a feature we plan on adding in the future 👍

[2022-04-29 12:26] moyzlevi commented on #15
I wanna take this one

[2022-04-29 14:48] #29 closed

[2022-04-29 14:49] #3 closed

[2022-04-29 15:26] #28 closed

[2022-04-29 15:29] ericallam opened #37 "Handle previewing small images better"
For example, the image below is 64x64

<img width="675" alt="Screen Shot 2022-04-29 at 16 28 33" src="https://user-images.githubusercontent.com/534/165975921-a8dbc2b7-a99d-4891-b431-3b101563037c.png">

You can see it live here: https://jsonhero.io/j/REqfdqUzgoYP

[2022-04-29 15:50] ericallam commented on #31
- [ ] Add support for TTL when creating through `/new`

[2022-04-29 15:51] ericallam opened #38 "Add skeleton loader to preview section to prevent content jumping"
https://www.smashingmagazine.com/2020/04/skeleton-screens-react/

[2022-04-29 23:23] NobleDraconian opened #42 "JSON hero does not allow you to open large JSON files"
Currently, as of `4/29/22`, if you attempt to open a large JSON file (around 22MB), the site does not allow you to open it. It simply acts as if you selected no file!

Usecase : Using JSON hero to browse log files & other automatically generated datastructures.

[2022-04-30 02:19] innicoder opened #43 "[Feature] Downloadable EXE ElectronJS App"
Wrap it into an ElectronJS _(or similar)_ technology and ship it to be downloaded.
- Thanks

[2022-04-30 09:49] bolshoytoster commented on #42
@NobleDraconian are there  any errors in the console (`f12`)?

[2022-04-30 09:53] bolshoytoster commented on #37
@ericallam how do you mean? Isn't that how a 64x64 jpeg would be expected to look?

[2022-04-30 10:08] ericallam commented on #37
Yes but I think it should probably be shown to be smaller, matching it's resolution

[2022-04-30 13:29] ericallam commented on #10
Relevant Peekalink code here: https://github.com/jsonhero-io/jsonhero-web/blob/design/better-404/app/services/uriPreview.server.ts#L16

[2022-04-30 13:30] ericallam commented on #26
This will require first updated the https://github.com/jsonhero-io/json-infer-types package to detect base64 strings

[2022-04-30 23:53] ykabusalah commented on #21
Hello, could I implement this?

[2022-05-01 04:51] Maxusz666 opened #44 "Ok"

[2022-05-01 07:19] ShivamJoker opened #45 "Feature: Allow editing files from GitHub/GitLab directly"
Thanks for this awesome tool it would be great if we had the feature to directly edit files which is hosted on github or gitlab.

We can use their API's to get repo access and then push commits from backend.

[2022-05-01 07:31] ShivamJoker commented on #34
@ericallam editing is a very basic feature. We really need it!

[2022-05-01 10:14] #44 closed

[2022-05-01 10:15] ericallam commented on #42
Yup this is a known issue, and is related to how the Column View is implemented. We need to reimplement it using virtualization so we can scale the json documents. This is something that is definitely on the roadmap.

[2022-05-01 16:20] ubuntudroid commented on #42
Sample JSON for you guy to try your implementation against: https://raw.githubusercontent.com/kareltucek/firmware/master/examples/mirroring_keymap.json

[2022-05-02 07:23] ericallam opened #46 "Support previewing video and audio urls"
https://owen-wilson-wow-api.herokuapp.com/

[2022-05-02 16:50] matt-aitken commented on #42
@ericallam I've created [a branch with column item virtualization](https://github.com/jsonhero-io/jsonhero-web/tree/feature/column-view-virtualization). This is only part of the solution though.

Locally I'm getting `RangeError: Maximum call stack size exceeded` errors for very large files. I've found two separate causes for this:

1. Getting related paths, i.e. the `getRelatedPathsAtPath` functio

[2022-05-03 10:05] ericallam commented on #46
https://jsonhero.io/j/IjYzAVKIQps7

[2022-05-03 20:55] #46 closed

[2022-05-03 20:57] ericallam opened #48 "Add ability to make documents read-only"
Currently whoever has access to a jsonhero.io url can edit the title. We should support adding a `readonly=true` flag to the `/new` endpoint to make it so the title cannot be editable. This would allow sharing of jsonhero.io urls publicly more safe as the title would not be able to be edited maliciously.

[2022-05-03 21:55] #48 closed

[2022-05-04 09:17] ericallam opened #49 "Bug: changing the selected node while in the editor view does not jump to the path in the editor"

[2022-05-04 10:14] ericallam opened #50 "New View inspiration: GraphQL Voyager"
"Schema" view could be implemented in a similar mannger to the GraphQL Voyager: https://github.com/APIs-guru/graphql-voyager

[2022-05-04 10:23] ericallam opened #51 "Feature request: Support previewing Lottie JSON files"
https://github.com/LottieFiles/lottie-react

[2022-05-04 11:47] matt-aitken opened #53 "Feature request: Customise keyboard shortcuts"
The ability for a logged in user to edit the keyboard shortcuts. Including the ability to reset them back to the defaults.

This features requires the Accounts feature.

[2022-05-04 15:58] 123om123 commented on #53
Hey, would it be possible for me to work on the accounts and custom keyboard shortcuts?

[2022-05-05 08:28] davidchoo12 opened #54 "Feature request: delete data"
Allow deleting submitted json data or at least privating certain links

[2022-05-05 09:41] ericallam commented on #54
This is definitely coming once we add accounts (the next biggish feature we are working on). JSON docs created in accounts will be private by default with the option to share. You will also be able to delete and edit 👍

[2022-05-06 15:51] ericallam opened #57 "[Chore] Investigate developing with node.js 18"
It looks like this error reported to us could be caused by node.js 18:

[code]

[2022-05-07 11:43] matt-aitken opened #58 "The Search shortcut doesn't work on Microsoft Edge"
# Solution
- Stop Edge from bringing up the search. This is what other products like Slack do.

`event.preventDefault()` is already there so it might be that we need to use key down instead of key up. Requires investigation

[2022-05-08 17:03] S0ulf3re opened #60 "Progressive Web App integration"
It would be nice if this site could be contained as a PWA so that it can have its own window. I have an iPad and I recently discovered how pwa's are supported full screen if you add a safari site to the Home Screen

[2022-05-12 05:30] ericallam opened #61 "Add markdoc preview"
https://markdoc.io/sandbox?mode=transform

[2022-05-12 12:44] w0rmr1d3r opened #62 "No message if JSON is malformed"
I used https://jsonhero.io to take a look at a dirty JSON, and it seems that the JSON contained a malformed field.
Until I cleaned that field I wasn't able to put it in the input to get it read.
However, no matter how many times I tried, it didn't said anything related to an error in the page, as if it wasn't working.

It happened to me in both Safari and Chrome.

A similar behaviour happens in ht

[2022-05-12 13:52] w0rmr1d3r commented on #62
Hello @ericallam 👋
Sorry, but I cannot share the JSON, since it includes private data.
However, the malformation (detected by de IDE) was that instead of double quoting keys and values, it was single quoted. Such as:
[code]
Instead of:
[code]

At the same time, it included some Python values without quotes.
In this case, the `key` already had double quotes since it received the fix from above:
[co

[2022-05-13 02:59] lagbolt opened #63 "Feature Request: Handle Library of Congress JSONLD format"
The Library of Congress publishes a LOT of data (e.g., names and subject headings) in a format of one JSON object per line.

It would be great if you could handle this format.

You can download sample files from https://id.loc.gov/download/ -- the smaller more manageable files are lower down the page.

[2022-05-29 08:47] cver opened #69 "Bug: crash when url isn't JSON (e.g. is HTML login page)"
When I open jsonhero with the following json
[code]

I got this error
![image](https://user-images.githubusercontent.com/8914638/170859858-8b449709-4f7b-423b-a0bc-b8c7c95de550.png)

[2022-05-29 10:21] 123om123 commented on #43
@ericallam are we planning on adding this? If we are, id like to work on this

[2022-05-29 16:16] innicoder commented on #43
Yeah there are a couple of solutions,
- Electron (bit hard but can be implemented by someone who has the skills)
- PWA (easy and supports everything)
- React Native (hard, would not recommend).

[2022-05-30 09:27] 123om123 commented on #57
@ericallam Maybe we should close this issue since you fixed it with the miniflare update?

[2022-05-31 15:23] ericallam commented on #69
Still shouldn't crash JSON Hero, so re-opened so we can fix that

[2022-05-31 15:25] matt-aitken commented on #69
Yep that is true, rewritten the title

[2022-05-31 23:38] sascha10000 commented on #69
I found that the result after 'useFetcher' in PreviewUri.tsx on the route "/actions/getPreview/${encodedUri}" is not structured as expected. Therefore type-checking for 'string' and injecting the output is a solution, but in my opinion it is a risk. On the other hand locally running it tells me that cloudflare is having some issues regarding some key-value store. But as I had by now not found the

[2022-06-02 19:11] sascha10000 commented on #61
I guess step one would be to add it to json-infer-types right?

[2022-06-05 08:51] ChowRex opened #71 "Bug: Crash when change to dark mode / dark theme"
# Envirorment:

## Hardware
Apple MacBook Pro with M1 Pro chip.

## Software

MacOS 12.4

npm test
[code]

npm --version
[code]
node -v
[code]

## Description
When I deployed this project on my own computer and try to switch from the light theme to the dark theme, then there will an error returned.

<img width="1716" alt="image" src="https://user-images.githubusercontent.com/30169860/172042376-c92

[2022-06-06 04:47] yigitkonur commented on #54
Are there any expire date for each JSON files? I was using JSONBlob but they are deleting data by 30 days of TTL - any chance to have unlimited listing for jsonhero? Many thanks!

[2022-06-06 10:43] DocBrown101 opened #73 "Feature Request: Dockerfile / Official docker images"
It would be very helpful to me if you could ship a Dockerfile and build official images.

Thanks for creating this project!

[2022-06-07 12:16] ericallam commented on #69
Fixed by @sascha10000 in PR #70

[2022-06-07 12:16] #69 closed

[2022-06-07 12:18] ericallam commented on #71
Hmm, this issue should be been fixed by https://github.com/jsonhero-io/jsonhero-web/commit/a4b7a38e67e29ce1866552e5a078d8e1230e9a6d, can you run an `npm ls miniflare` in the terminal and let me know what it says? You could also try doing `rm -rf node_modules` and then `npm install` and then restart the server to see if that fixes it.

[2022-06-07 12:39] ericallam commented on #33
We've recently released a Chrome extension here: https://chrome.google.com/webstore/detail/json-hero/dneionnnnjnofppmhcccbiaklandilch

[2022-06-07 12:39] #33 closed

[2022-06-07 12:45] ericallam opened #75 "IPFS image preview works locally, but not on jsonhero.io"
https://jsonhero.io/j/QcukgWd6RNQ2?theme=dark

[2022-06-08 02:21] ChowRex commented on #71
`npm ls miniflare`

Result: `miniflare@2.4.0`

<img width="720" alt="image" src="https://user-images.githubusercontent.com/30169860/172517024-759d3602-0f91-4674-8e33-2cb886964120.png">

I had executed `git pull` then `rm -rf node_modules && npm install`, but it still doesn't work.

[2022-06-08 09:10] ericallam opened #76 "Better handle long key names"
https://jsonhero.io/j/8sJcqWEz7Nek
<img width="1158" alt="Screen Shot 2022-06-08 at 10 10 42" src="https://user-images.githubusercontent.com/534/172578826-9dbcbfea-2232-49f4-8266-f770e310f28a.png">

[2022-06-08 15:49] ericallam opened #77 "Implement error message when JSON is invalid syntax"

[2022-06-08 15:50] ericallam opened #78 "Support automatically converting YAML/XML to JSON"

[2022-06-09 10:46] sascha10000 commented on #76
Would that be a feasible solution?
![grafik](https://user-images.githubusercontent.com/6839449/172828903-9213d544-9ae3-42a6-8a44-a89cd1a9d7c7.png)

Solution: Add the tailwind classes "text-ellipsis overflow-hidden" to the h2-tag containing the long text, in this case the shown id.

![grafik](https://user-images.githubusercontent.com/6839449/172829340-6dceb850-3aac-48a4-8b28-d5b6312646ab.png)

@Wor

[2022-06-09 13:14] skudryk commented on #78
I need this feature too! Please implement it.

[2022-06-10 14:07] #76 closed

[2022-06-11 20:15] #75 closed

[2022-06-30 10:50] rinodrummer opened #82 "Feature Request: Customize space size for JSON editor"
As the title says, it would be really useful to customize the space/tab size in the code editor view.

[2022-07-04 12:43] sinitsa opened #83 "Feature request: exploring given CF KV namespace /w search bt=y(for self-hosting"

[2022-07-27 09:46] LucidSamuel commented on #21
Hello if this is still open, I can sure help to implement it if assigned to the task.

[2022-08-04 16:41] bigbigmyworld opened #84 "item"

[2022-08-04 16:41] #84 closed

[2022-09-07 10:04] drdmitry commented on #78
JFI: Converting XML to JSON is not a straightforward process, as one of the solutions consider using [Conversion Tools XML to JSON online converter](https://conversiontools.io/convert/xml-to-json) (it has limitations, but for small files and personal use - it should fit).
Also, many available converters and libraries don't convert complex XML structures, for example, the following:
[code]

[2022-09-08 14:02] samdutton opened #85 "Nit: cursor should be pointer, not text, over JSON selector UI"
Currently, a text pointer is displayed over the text in the JSON selection/upload UI.

<img width="527" alt="image" src="https://user-images.githubusercontent.com/205226/189141834-535a5006-f8f0-4356-b075-4d53ae5b5d5f.png">

The cursor should be a pointer over the whole container, including the text.

Great project btw! 👍🙏👏

[2022-09-08 16:52] raheelrjunaid commented on #85
I can take this if it is available 😃

[2022-09-08 16:53] ericallam commented on #85
@raheelrjunaid go for it 👍

[2022-09-08 17:25] #85 closed

[2022-09-08 18:57] samdutton commented on #85
Thanks all!

[2022-09-09 11:03] paulmwatson commented on #42
Great to hear this is on the roadmap as my first test of JSON hero was a 14mb GEOJSON file and it didn't work at all;
https://github.com/OpenUpSA/nu-land-parcel-map/blob/main/src/data/complete.json

[2022-09-09 20:37] ericallam commented on #42
@paulmwatson thanks for sending us a nice large JSON file to test with!

[2022-09-10 08:23] setop opened #87 "[feature request] provides timestamp preview"
A date can be encoded as an int, as the number of second from epoch.

[code]

Like rfc-3339 string are displayed in a calendar, it would be nice to have the same preview for timestamp.

Cheers

[2022-09-11 10:24] Delicious-Bacon opened #88 "Memory leak on the Website"
I left https://jsonhero.io/ open went away from my PC. I came back and noticed my Firefox is occupying 31 GB of RAM.

If you open the developer console and take the snapshots under "Memory" tab, you will notice the memory keeps increasing.

Here's just a quick overview from the Edge browser (Firefox is too hard to read). Snapshot 3 was at page launch and Snapshot 5 was around a minute after launch

[2022-09-12 09:17] warpdesign commented on #58
Same problem on Chrome.

[2022-09-12 12:32] kvooak commented on #78
@ericallam @drdmitry Would you give me a nod to work on this feature?

[2022-09-12 12:51] ericallam commented on #78
@kvooak happy for you to give it a shot. Keep in mind that we use Cloudflare Workers for hosting so any solution will need to work in their runtime: https://developers.cloudflare.com/workers/learning/how-workers-works/

[2022-09-13 01:28] llimllib opened #90 "Crashed on the first file I opened"
I opened up a json file, and got this traceback after clicking around a few times:

<details>

[code]

</details>

[this is the file I opened up with it](https://gist.github.com/llimllib/9cba9dc9a0dc3c298782d6253ee250d4).

Before crashing, the app was pretty sluggish. Looking at the console gives maybe a more useful traceback:

[code]

Firefox v104.0.2 on a mac

The tool seems neat, this is not me

[2022-09-14 01:46] agungsantoso commented on #71
same problem here

[2022-09-15 15:37] ericallam opened #94 "Change switching view keyboard shortcuts to something less conflicted"
They are currently set to `cmd+1`, `cmd+2`, `cmd+3`, which overrides many browsers own command shortcuts.

[2022-09-16 03:10] bjornharvold opened #95 "App crashes when you leave it open for a long time"
Getting this consistently when leaving the app open in a browser tab.

Guessing the Service Worker / CDN is to blame for this.

![screencapture-jsonhero-io-2022-09-16-10_07_55](https://user-images.githubusercontent.com/641791/190548585-1b45e20f-88d2-4a41-882e-eb4bb7928e09.png)

[2022-09-16 08:54] ericallam commented on #95
Thanks for the report! How long about does it take for this to happen? I'm guessing you are on the JSON viewer page when this occurs?

[2022-09-16 08:55] ericallam commented on #90
Hi @llimllib, that's an impressively large JSON file you've got there! Unfortunately we currently don't support large JSON files (see issue #42).

[2022-09-16 08:56] ericallam commented on #88
@Delicious-Bacon thanks for the report! Is this specifically happening on the home page?

[2022-09-16 09:41] Delicious-Bacon commented on #88
@ericallam Are there other pages than the home page?

I have noticed it happening on the home page, and it's specifically jsonhero tab that causes the memory leak.

[2022-09-16 09:43] ericallam commented on #88
Okay thanks for letting me know, will dig into it

[2022-09-16 09:50] bjornharvold commented on #95
Hi @ericallam

I just leave the browser open all day. Some time I leave the laptop in suspend and open it again the next day.

I've received this a couple of times now.

[2022-09-16 09:51] #21 closed

[2022-09-16 13:20] llimllib commented on #90
ah ha! well, the use case I would have for api hero is to examine large JSON files so I guess it doesn't work for me at the moment.

Thanks for the reply!

[2022-09-16 13:20] #90 closed

[2022-09-18 14:01] OneCodeMonkey opened #96 "Compile error: [ERROR] Could not resolve "./tailwind.css""
Runtime is docker image: node:16.17.0
When run `npm install` and `npm start`，it occurs error:

[code]

[2022-09-18 14:02] OneCodeMonkey commented on #96
Is my node version wrong ? I have no idea since the README do not recommend the runtime environment : (
Could anybody help :) ?

[2022-09-19 08:46] ericallam commented on #96
There is a local development guide which may help:

https://github.com/apihero-run/jsonhero-web/blob/main/DEVELOPMENT.md

Try running `npm run build` before you run `npm start`, which might help resolve the missing tailwind.css issue

[2022-09-20 03:58] OneCodeMonkey commented on #96
ok, done!
Must run `npm run build` before `npm start`,  but the README guide don't mention this step.
Thks ：）

[2022-09-20 04:00] OneCodeMonkey commented on #96
Here is my Dockerfile：

[code]

[2022-09-20 04:00] #96 closed

[2022-09-20 06:43] yandif opened #98 "Bug: Using a string containing `.` as a JSON key will cause an error in the JSON View Page"
## Envirorment:
online : https://jsonhero.io/j/cC6nC3Vgh4s4
## Description
When I use a string containing ’.‘ as a JSON key, I get an error when I switch to the JSON view page.
[code]
![image](https://user-images.githubusercontent.com/52165593/191184866-612dce59-cb16-4607-811b-fefe52fae678.png)
![image](https://user-images.githubusercontent.com/52165593/191184969-f4273054-6984-442e-b7c8-ba030e7b18

[2022-09-22 07:42] HandsomeOne commented on #33
Will there be a Firefox extension?

[2022-09-22 09:33] wufeng87 opened #100 "Feature request: add support for jumping to json node by specific path."
Say I already open the json I need to view, and I got the path I want to jump to from another colleague, and I want to jump to this path without reload my page.

It's more effective than using the search bar to search and navigate.

[2022-09-26 19:00] kubahasek commented on #77
Can you provide more information, I think this could be within my abilities to complete for hacktoberfest :)

[2022-09-26 20:27] ericallam opened #101 "Docs: Add documentation for how to deploy your own self-hosted version of JSON Hero on Cloudflare Workers"
We currently host jsonhero.io on Cloudflare Workers, backed by KV store. We use a [GitHub action](https://github.com/apihero-run/jsonhero-web/blob/main/.github/workflows/main.yml) to deploy on every commit to the `main` branch. It would be great if we had a guide called `SELF_HOSTING.md` at the root of the repository to guide people on how to host their own version of JSON Hero so they could use i

[2022-09-26 20:45] ericallam commented on #77
@kubahasek just added some more info the issue description, hope that helps!

[2022-09-27 00:21] Kit-p commented on #98
Hi, is it okay for me to work on this issue?

[2022-09-27 01:37] Hirdey-1999 commented on #101
I am ready to go with this issue. Can you just elaborate with the issue so i can create with .md file

[2022-09-27 02:15] Suven-p commented on #100
Can I work on this?

[2022-09-27 04:05] ckifer commented on #94
I can take this.

I like the numbers (1, 2, 3)... it makes sense to me to keep with that theme. Do we think `cmd`/`ctrl`+`shift`+{number} is too much to press? All other common key combos risk browser shortcut conflicts. Since `shift` + `c` is already the shortcut for copy does `shift + {number}` make sense? All of these shortcuts have risks if jsonhero supports editing.

[2022-09-27 06:19] ericallam commented on #100
Sure, go for it!

[2022-09-27 06:23] ericallam commented on #94
Yea I was thinking cmd+shift+(number) should be okay, but would be good to research if that also conflicts with built in browser and OS shortcuts

[2022-09-27 06:50] matt-aitken commented on #100
@Suven-p you'll see we’re using paths a lot in the code already to navigate. Using https://www.npmjs.com/package/@jsonhero/path

[2022-09-27 08:29] Suven-p commented on #100
I thought of having the [PathBarLink](https://github.com/apihero-run/jsonhero-web/blob/478f41f45ec7ee468442880135b6ca40e098fb30/app/components/PathBar.tsx#L31) have text mode and gui mode.
Go into text mode by double clicking path bar.
When focus moves out of path bar switch directory and switch back to GUI mode.

Something like these
![image](https://user-images.githubusercontent.com/47393058/192

[2022-09-27 08:33] matt-aitken commented on #100
I like the idea of it being edited in the path bar. The only issue with double click is it seems a shame that such a useful feature is hidden behind a hidden gesture. What if we had an edit button to the right of the path bar that turns it into a textfield like you suggested. When in text editing mode that button turns into a tick to commit? (Return/Enter on the keyboard would also commit). What d

[2022-09-27 08:40] kubahasek commented on #77
@ericallam Hi there? I've had a look at the codebase briefly, but I am having trouble understanding where the error occurs? I understand that it redirects when it cannot parse the JSON provided, but don't know where parsing errors should occur. I've had a look at the `jsonDoc.server.ts` and the corresponding functions, but that didn't really help me.

Could you please point me in the right directi

[2022-09-27 08:52] Suven-p commented on #100
Yes that makes sense. Would it be ok if I make the PR in October for hacktoberfest? aiming for October first :)

[2022-09-27 09:02] matt-aitken commented on #100
That sounds great 👍

[2022-09-27 09:41] ericallam commented on #77
To start I think we need to extend the [`createFromUrlOrRawJson`](https://github.com/apihero-run/jsonhero-web/blob/478f41f45ec7ee468442880135b6ca40e098fb30/app/jsonDoc.server.ts#L40) function to actually parse the raw JSON, that way we can catch the parsing error either in that function or in the `createFromUrl` action

[2022-09-27 11:10] kubahasek commented on #77
Alright, so I´d add `JSON.parse()` in the raw JSON part, then wrap the function call in `createFromUrl` in a trycatch. Should I be doing that for parsing from a URL too?

[2022-09-27 15:16] ckifer commented on #94
Sounds good. I totally forgot, cmd+shift+3,4 on Mac are screenshot shortcuts. That won't do. Otherwise it only conflicts with Opera.

Will do some more research, I found a few good resources that need looked through.

[2022-09-27 18:37] lechasseurVincent2112 commented on #51
I'd like to work on this one ! Basically, I have to add a new preview type for the lottieReact player component and require a src value in the json ? Thanks :)

[2022-09-27 19:38] ericallam commented on #51
@lechasseurVincent2112 yea exactly. We have a separate library [here](https://github.com/apihero-run/json-infer-types) that powers the type inference. You can see here we already have the ability to "infer" object formats [here](https://github.com/apihero-run/json-infer-types/blob/main/src/formats/index.ts#L107). So you'll need to add a new Lottie format there first before pulling that in to JSON

[2022-09-27 19:39] ericallam commented on #98
@Kit-p definitely, go for it!

[2022-09-27 19:44] lechasseurVincent2112 commented on #51
Ok super, thanks for the answer ! I'll take a look into it tonight :)

[2022-09-28 16:46] Suven-p commented on #100
Deployed to https://json.nevus.workers.dev/ from https://github.com/Suven-p/jsonhero-web/commit/1b16beb6792c566f9600975efac7d2843923d638

[2022-09-28 18:56] kubahasek commented on #77
@ericallam Hi again, I have succesfully gotten the cookie part working, but right now I am having trouble showing the toast on the homepage, since Remix doesn't re-render it. Somehow the loader runs (verified that with a console.log()), but UI isn't rerendering.

[code]

This is the code I am trying to use to display it at the moment, but I cannot seem to figure out how to do it, sorry.

[2022-09-28 19:11] ericallam commented on #77
Can you link me to your repo/branch and I'll take a look

[2022-09-28 19:23] kubahasek commented on #77
https://github.com/kubahasek/jsonhero-web/tree/toast-ui here you go

[2022-09-28 20:04] ericallam commented on #100
This looks great! Would love a PR when you get a chance

[2022-09-29 17:23] ckifer commented on #94
Looking through https://en.wikipedia.org/wiki/Table_of_keyboard_shortcuts for OS shortcuts, [chrome shortcuts](https://support.google.com/chrome/answer/157179?hl=en&co=GENIE.Platform%3DDesktop#zippy=%2Ctab-window-shortcuts%2Cgoogle-chrome-feature-shortcuts), and FF shortcuts.

Out of everything I think `alt + n` for Windows/Linux and `control + n` on Mac works out the best. Anything is better than

[2022-09-29 20:24] ericallam commented on #94
Yea that sounds good!

[2022-10-03 08:26] ShaneMaglangit opened #109 "Bug: Switching to JSON view creates a weird padding at the bottom of the page."
While working on another issue, I noticed that a weird padding pops up on the bottom of the page whenever the JSON View is opened.

**Steps to replicate**

1. Load the json page with Column View
2. Switch to JSON View

**Before**

![image](https://user-images.githubusercontent.com/53674742/193532892-58a9e083-122c-42da-bebb-58bd6217b000.png)

**After**

![image](https://user-images.githubuserconten

[2022-10-03 13:35] #100 closed

[2022-10-03 13:43] #98 closed

[2022-10-03 20:50] ShaneMaglangit commented on #87
@setop My concern is that we have no way of determining whether the value is a timestamp or really just a large integer.

[2022-10-04 10:30] migdur commented on #42
Hello, is there any progress on this topic? I can also supply large json files (around 4.7MB) for testing/debugging purposes if needed. Thanks.

[2022-10-05 03:37] ShaneMaglangit opened #111 "Fix: Remove scrollbar on InfoBoxSection's preview column."
Currently, the preview column has a visible scrollbar. However, it isn't scrollable and makes the design looks off. I suggest that we hide it instead.

Otherwise, if it is intended to be scrollable. Then we could just fix the scrolling issue (it doesn't work ATM) and customize the scroller to match the design better.

![image](https://user-images.githubusercontent.com/53674742/193976169-13623473-a

[2022-10-05 08:31] #111 closed

[2022-10-05 08:33] #94 closed

[2022-10-05 08:36] ericallam commented on #87
Ah yes, I see what the issue is. We actually already do this for strings that have numbers inside of them (see [here](https://github.com/apihero-run/json-infer-types/blob/main/src/formats/timestamp.ts)) but not for ints. We should extend json-infer-types to do the same thing for number types: https://github.com/apihero-run/json-infer-types

[2022-10-05 08:38] ericallam commented on #78
This feature has been partly implemented by @kvooak in this PR:

https://github.com/apihero-run/jsonhero-web/pull/93

You can now submit XML and it'll get converted to JSON. Currently it only works when pasting in XML to the text box

[2022-10-05 08:42] ericallam commented on #95
I've managed to recreate this issue: it happens when you are viewing JSON and lose internet access, and then we attempt to fetch the details of a URL preview. It could be happening in this file here: https://github.com/apihero-run/jsonhero-web/blob/main/app/components/Preview/Types/PreviewUri.tsx

[2022-10-05 08:42] #82 closed

[2022-10-05 08:43] #58 closed

[2022-10-05 08:45] ericallam commented on #73
We now have a Dockerfile in the repo [here](https://github.com/apihero-run/jsonhero-web/blob/main/Dockerfile). Please let me know if that solves your use case

[2022-10-05 08:45] #73 closed

[2022-10-05 08:45] #50 closed

[2022-10-05 09:13] w0rmr1d3r commented on #62
Hi @ericallam ,
I see the issue has been closed, but the linked PR is closed, not merged.
Has this been solved then? Which PR fixed it?

Thank you

[2022-10-05 09:17] ericallam commented on #62
Good catch, this shouldn't have been closed because this PR that is addressing the issue is still open:

https://github.com/apihero-run/jsonhero-web/pull/102

[2022-10-05 09:54] setop commented on #87
Good question @ShaneMaglangit .

I don't know if it is part of the user experience jsonhero wants to give to it's user, but maybe there could like a toggle button "interpret this as a date" and it would be valid for this field for the current session.

Or, like @ericallam suggested, it could be inferred. from the key name : "date", "created_at", "updated_at", "*_at", "timestamp", etc. And/Or from

[2022-10-05 09:57] ericallam commented on #87
I think we should try to infer from the value, similar to how we are currently doing it with strings. Definitely against any kind of option like that

[2022-10-05 16:54] WaunBroderick commented on #109
Hey @ericallam mind if I take on this task?

[2022-10-05 18:44] ericallam commented on #109
@WaunBroderick go for it!

[2022-10-06 01:11] WaunBroderick commented on #109
Awesome thanks @ericallam , pull request submitted.

[2022-10-07 02:14] Cool-Runningz commented on #38
Hey 👋🏽 @ericallam, I am interested in working on this. Is this still up for grabs??

[2022-10-07 05:07] ericallam commented on #38
Yup go for it!

[2022-10-07 12:16] Cool-Runningz commented on #38
Thanks for the opportunity to contribute!  I did have one question about the placement of the skeleton loader...

The title of the issue mentions the "preview" section. Is that referring to the individual columns for each respective view when the data is initially loaded in? My assumption is that you want the loader visible anywhere data is being processed but just wanted to confirm.

[2022-10-07 23:32] AndrianBalanescu opened #115 "Add an easy way to copy the entire JSON or download it"
Please add this feature.

[2022-10-08 05:13] ericallam commented on #38
It refers to the right hand side bar, where we display images or sometimes information about a website url

[2022-10-08 19:16] ericallam commented on #38
![CleanShot 2022-10-08 at 20 16 05@2x](https://user-images.githubusercontent.com/534/194723906-f5cb00fb-0fee-4086-9820-f095d4ef31be.png)

[2022-10-08 20:43] Cool-Runningz commented on #38
Great, thanks for the clarification! I was able to locate it and am working on a fix now.

[2022-10-09 00:32] Suven-p commented on #115
What would be the appropriate place to put the download button?

[2022-10-09 00:49] Suven-p commented on #115
There's a way to copy entire json. On the left side where the json is displayed you can hover on it to find the copy button.
![image](https://user-images.githubusercontent.com/47393058/194732412-a9fc9e54-b97b-44ba-b71b-451b035998ac.png)

There is another copy button under path which also appears on hover. This is not what you are looking for but it might be confusing.
![image](https://user-images.

[2022-10-09 05:04] ericallam commented on #115
Yea I've wanted a "View Raw JSON" button in the past, not sure where it would go though. There is a little known feature that if you add `.json` to the url it displays the raw JSON so we could use that.

[2022-10-09 11:09] #109 closed

[2022-10-09 11:46] ericallam opened #117 "Add a graph view"
Similar to jsoncrack.com, this view is fun to use as it allows freedom of movement and scale.

[2022-10-09 14:23] Suven-p commented on #115
![image](https://user-images.githubusercontent.com/47393058/194762068-9f1b0db9-aa09-4f6b-aaa2-b9a6b5ba8635.png)
Would this work? IMO it isn't great.

[2022-10-09 15:14] ericallam commented on #115
![CleanShot 2022-10-09 at 16 12 57@2x](https://user-images.githubusercontent.com/534/194764638-bc93863a-5978-406a-a307-63bbdbcb3e7f.png)

Why don't we replace this icon with the download icon and make that a `<a target="_blank">` to the path with `.json` appended?

[2022-10-09 20:34] #115 closed

[2022-10-09 20:38] #38 closed

[2022-10-09 22:56] Cool-Runningz commented on #117
That would be a neat view to add! I don't know how to implement a feature like this...yet 😅, but I'd be interested in learning and helping out if you're open to contributions for a bigger feature like this. I figure there may need to be more discussions around the best way to approach it but I just wanted to express my interest in potentially collaborating 🙂

[2022-10-10 08:03] ericallam commented on #117
That would be great! I've started a discussion here: #120

[2022-10-13 14:46] ericallam opened #121 "Add ability to jump from a `$ref` to the location in the document if it exists"
Example:

https://jsonhero.io/j/tRO2RzV5zfa7?path=%24.paths.%2F2%2Ftweets%2F%7Bid%7D.get.parameters.0.%24ref

[2022-10-13 15:06] Prasaya commented on #121
![Screenshot from 2022-10-13 20-47-01](https://user-images.githubusercontent.com/47562404/195634622-85d66660-48f7-4258-aa80-f77001bca893.png)
I plan to redirect when the user clicks on the value part. Would that work?

Should the redirect work only when the key value is $ref? What should be the behaviour when the path does not exist?

[2022-10-13 15:36] ericallam commented on #121
Yea I think the key has to be `$ref`, and I think nothing should happen if the path does not exist (or check the path exists before making the ref value a link?

[2022-10-13 20:58] #87 closed

[2022-10-14 10:59] #121 closed

[2022-10-15 11:25] ericallam opened #123 "Make the `og:title` tag match the `<title>` tag"
![CleanShot 2022-10-15 at 12 24 43@2x](https://user-images.githubusercontent.com/534/195983991-f9a5b424-2110-43b2-84f3-b2d8ef7d9d0c.png)

[2022-10-15 11:55] helloshiv01 commented on #123
please assign me this issue

[2022-10-15 11:57] ericallam commented on #123
Go for it @helloshiv01

[2022-10-15 11:59] helloshiv01 commented on #123
i am not assigned yet
@ericallam

[2022-10-15 12:00] ericallam commented on #123
Hey you learn something new every day, didn't know you could assign issues!

[2022-10-15 14:51] helloshiv01 commented on #123
hey @ericallam will you please brief me about the issue as i was not able to locate the code mentioned above in the repository.

[2022-10-15 14:56] ericallam commented on #123
The best I can do for you right now is to say you should read the Remix.run docs on meta tags

[2022-10-18 07:54] cesaryuan opened #124 "Feature request: Group array item by its length in related values panel."
![image](https://user-images.githubusercontent.com/35998162/196384129-b82102e6-a9af-46fd-90a4-f7b7c969fcbf.png)

![image](https://user-images.githubusercontent.com/35998162/196384027-7cd2bc4f-832c-4297-ad04-ff2ca7728c7e.png)

[2022-10-19 08:16] #124 closed

[2022-10-19 15:52] ccjmne opened #129 "SESSION_SECRET is not defined in fresh development setup"
Hello @ericallam 👋

I wanted to take a look at this and started playing with the project, but couldn't get it set up...
I didn't want to open an issue simply for this; but maybe you can just point me in the right direction without much trouble 🙇‍♀️

I basically simply followed the procedure indicated in DEVELOPMENT.md, created my `.env` file:
![image](https://user-images.githubusercontent.com/6822

[2022-10-19 16:01] ericallam commented on #129
Could you try running `npm run build` and then try `npm start`?

[2022-10-19 16:05] ccjmne commented on #129
Thanks for the immediate response!
There's no difference however...

[code]

[code]

[2022-10-19 16:07] ccjmne commented on #129
NB: `.env` does contain a proper SESSION_SECRET and isn't empty:
[code]

[2022-10-19 16:19] ericallam commented on #129
Interesting... so `npm run dev` works, what does `npm run start:worker` do if you run it separately?

[2022-10-19 16:21] ccjmne commented on #129
Just the same :(
At least it's consistent!

[code]

[2022-10-19 16:23] ericallam commented on #129
Just curious, which version of node are you on?

[2022-10-19 16:26] ccjmne commented on #129
It does pick up the `.env` file, as well; because when I try to delete/move/rename it, it errors out with:
[code]

[2022-10-19 16:30] ericallam commented on #129
I wonder if miniflare isn't correctly passing the env vars through to the subcommand `npm run dev:worker`. Digging into miniflare now...

[2022-10-24 14:44] matt-aitken opened #130 "git:// URLs throw an error"
git:// urls throw errors when clicked. It tries to open them and throws an error.

# Reproduction steps
Click `git_url` in the root of this document:
https://jsonhero.io/j/oyEWbXBi0I2H

[2022-10-24 14:52] ccjmne commented on #129
Hey @ericallam, 👋
I figured I'd give it another go and try looking into what's going on... but I can't seem to figure it out.
If you've got any findings, please let me know!

[2022-10-24 18:30] #130 closed

[2022-11-11 07:55] maocoffee opened #133 "TypeError: (void 0) is not a function"
![image](https://user-images.githubusercontent.com/6667305/201292742-5382483b-46fe-491d-971a-6e2a031bd7af.png)

when I execute cmd "npm start" ,it will happen.

[2022-11-23 23:42] henryclw commented on #73
@DocBrown101 Hi Daniel, there isn't a official image on docker hub, but I've set up my own everyday build image on my docker hub, feel free to use it.

<https://hub.docker.com/r/henryclw/jsonhero-web>

[![Docker Pulls](https://img.shields.io/docker/pulls/henryclw/jsonhero-web)](https://hub.docker.com/r/henryclw/jsonhero-web)    [![Docker Image Size (tag)](https://img.shields.io/docker/image-size/h

[2022-11-24 06:54] DocBrown101 commented on #73
@henryclw Thank you, I will do that!

[2022-11-25 07:03] DocBrown101 commented on #73
@henryclw Do you have a git repository for your Docker image?

It seems that a build has to be created locally first, which does not work if you use read only images.

![image](https://user-images.githubusercontent.com/11892773/203921111-042d4141-6d0e-4c53-aca4-cab089322977.png)

[2022-11-25 07:33] henryclw commented on #73
Yes, my GitHub repo is <https://github.com/henryclw/jsonhero-web>

Could you give more details of how to produce this error logs you posted? So that we could figure out what happened.

[2022-11-29 07:34] Victor239 opened #134 "Local-only support"
Issue opened to track this upcoming feature:
"Eric here (one of the creators of JSON Hero) and this is a really good point. We built JSON Hero earlier this year and partly wanted to use it to try out Cloudflare Workers and Remix, hence the decision to store in KV and use that kind of architecture. We're keen to update JSON Hero with better local-only support for this reason, and to make it easier

[2022-11-29 11:04] varunchandak opened #135 "RangeError: Maximum call stack size exceeded"
got Application Error when using https://ip-ranges.amazonaws.com/ip-ranges.json

<img width="779" alt="image" src="https://user-images.githubusercontent.com/18713091/204512810-acbdd3f7-31c9-41dd-a313-a1caaeb2e8e2.png">

[2022-11-29 11:20] jsejcksn commented on #63
Technical info for implementers/others:

The following is a description of the format of the files mentioned above:

- each file is UTF-8 encoded text, compressed using [gzip](https://en.wikipedia.org/wiki/Gzip) compression
- each file is formatted according to the [JSON Lines](https://jsonlines.org/) specification<sup>1</sup>:
  - each file is composed of one or more lines:
    - every line is te

[2022-11-29 11:42] ericallam commented on #135
Thanks for the report @varunchandak, this happens whenever JSON Hero tries to render a large JSON file, and is a known issue (and something we definitely want to fix!).

[2022-11-29 15:33] antoineleclair commented on #134
In the meantime, I would suggest to edit the home page and docs to make it clearer that the JSON is not kept locally. I almost installed the VS Code extension but then realized that maybe the file is actually sent somewhere.

[2022-11-29 20:16] TedDriggs opened #137 "Setting to prevent auto-visit of URLs"
In cybersecurity data, URLs are likely to be adversary-controlled. Visiting them is therefore **very bad**, for two reasons:

1. They could attempt to infect your machine
2. Your visit could tip the adversary off that the URL has been found, causing them to take it down and denying investigators evidence of what the adversary was up to.

This tool looks really great, and I'd love to use it, but un